<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="io.openliberty.tools.eclipse.launch.type">
    <booleanAttribute key="io.openliberty.tools.eclipse.launch.project.container.run" value="false"/>
    <stringAttribute key="io.openliberty.tools.eclipse.launch.project.name" value="inventory"/>
    <stringAttribute key="io.openliberty.tools.eclipse.launch.project.time.run" value="1708348285797"/>
    <stringAttribute key="io.openliberty.tools.eclipse.launch.start.parm" value=""/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-11/"/>
</launchConfiguration>
